@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
:root {
  --clr1: #a1ccd1;
  --clr2: #f4f2de;
  --clr3: #e9b384;
  --clr31: #f67300;
  --clr4: #7c9d96;
  --clr5: #4682a9;
  --clrpurple: #ff90e8;
  --clryellow: #ffc900;
}
body {
}
nav {
  /* background-color: var(--clr2); */
  /* background-color: var(--clr3); */
  /* border: solid 4px var(--clr31); */
  border-bottom: 3px solid #333;
}
nav ul {
  display: flex;
  justify-content: space-between;
  max-width: 720px;
  margin: auto;
  font-size: 30px;
  font-weight: 500;
  color: black;
}
nav li {
  padding: 10px;
}
nav li:hover {
  cursor: pointer;
  color: var(--clr31);
  /* border-radius: 5px; */
}
main {
}
.hero {
  display: flex;
  flex-direction: column;
  background-color: var(--clryellow);
  /* max-width: 50%; */
  width: 100%;
  padding: 50px 1em;
}
main figure {
  margin: auto;
  width: fit-content;
}
main figure img {
  border: 5px solid white;
  max-width: 200px;
  border-radius: 15px;
}
.info {
  text-align: center;
  padding: 1em;
}
.info h1 {
  margin: auto;
  font-weight: 300;
  font-size: 50px;
  border-bottom: #333 solid 3px;
  max-width: fit-content;
}
.info p {
  padding-top: 30px;
  font-size: 25px;
  font-weight: 300;
}
.info ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.5em;
}
.info li {
  font-size: 20px;
  margin-right: 10px;
  cursor: pointer;
}
a {
  all: unset;
  cursor: pointer;
}

.skills {
  border-top: #333 solid 3px;
  border-bottom: #333 solid 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 0;
  background-color: var(--clr1);
  font-size: 20px;
}
.skills li {
  padding: 5px;
  line-height: 1.5em;
}
.skills h1 {
  font-size: 50px;
  font-weight: 500;
  border-bottom: #333 solid 3px;
  max-width: fit-content;
}

.skills ul {
  padding: 50px;
}
.card h1 {
  font-size: 30px;
  text-align: center;
}
.card {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1em;
  font-size: 20px;
  width: 300px;
  height: 350px;
  margin: 1em auto;
  border-radius: 15px;
  border: #333 solid 5px;
  max-width: 100%;
}
.card img {
  max-width: 100px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}
.card a {
  text-decoration: underline;
  font-weight: 700;
  /* font-size: large; */
}
